<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


   <xacro:macro name="cobo_arm_control" params="prefix">
        <joint name="${prefix}T_J_S0_T_TO_U_SL">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">0.9</param>
        </command_interface>
 
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}A_J_S1_U_SL_TO_A_L0">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${ pi/2}</param>
        </command_interface>
 
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}A_J_S1_U_A_L0_TO_L1">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${pi/2}</param>
        </command_interface>
 
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position"/>
         <state_interface name="velocity"/>
     </joint>

      <joint name="${prefix}A_J_S1_U_A_L1_TO_L2_B1">
        <command_interface name="position">
          <param name="min">${-pi/2}</param>
          <param name="max">${pi/2}</param>
         <state_interface name="velocity"/>
       </command_interface>
 
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
</xacro:macro>

   
  <xacro:macro name="cobo_ros2_control" params="name prefix">

    <ros2_control name="${prefix}${name}" type="system">

      <hardware>
        <plugin>cobo_arm_control/RobotSystem</plugin>
           <param name="right_arm_port">/dev/ttyUSB1</param> 
           <param name="tower_port">/dev/ttyACM0</param> 
           <param name="left_arm_port">/dev/ttyUSB0</param> 
           <param name="baud_rate">57600</param> 
           <param name="initial_rotation">1.56</param> 
           <param name="initial_z">0.8</param> 
           <param name="fake_mode">2</param> 
           <param name="baud_rate">57600</param> 
      </hardware>
      
      <xacro:cobo_arm_control   prefix="left_"/>
      <xacro:cobo_arm_control   prefix="right_"/>


      <gpio name="tower">
        <command_interface name="c_pump_on"/>
        <command_interface name="c_auto_mode"/>
        <command_interface name="c_valve_open"/>
        <state_interface name="s_pump_on"/>
        <state_interface name="s_auto_mode"/>
        <state_interface name="s_valve_open"/>
        <state_interface name="s_pressure_level"/> 
      </gpio>

      <gpio name="right_arm">
        <command_interface name="c_servo"/>
        <command_interface name="c_vacuum_on"/>
        <command_interface name="c_attach_mode"/>
        <state_interface name="s_servo"/>
        <state_interface name="s_vacuum_on"/>
        <state_interface name="s_attach_mode"/>
        <state_interface name="s_attach_status"/>
        <state_interface name="s_vacuum_level"/>
          

      </gpio>

      <gpio name="left_arm">
        <command_interface name="c_door_position"/>
        <state_interface name="s_door_position"/>
      </gpio>
    </ros2_control>
  </xacro:macro>

  <xacro:macro name="diffbot_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>diffdrive_arduino/DiffDriveArduinoHardware</plugin>
        <param name="left_wheel_name">left_wheel_joint</param>
        <param name="right_wheel_name">right_wheel_joint</param>
        <param name="loop_rate">10.0</param>
        <param name="device">/dev/ttyACM0</param>
        <param name="baud_rate">57600</param>
        <param name="timeout_ms">1000</param>
        <param name="enc_counts_per_rev">90</param>
        <param name="pid_p">20</param>
        <param name="pid_d">12</param>
        <param name="pid_i">0</param>
        <param name="pid_o">50</param>
      </hardware>
      <joint name="${prefix}left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
